{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{heading}} | Samply - Admin & Dashboard Template</title>
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Pichforest" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico'%}">
    {% block extra_css %}{% endblock %}
    <!-- Bootstrap Css -->
    <link href="{% static 'css/bootstrap.min.css'%}" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="{% static 'css/icons.min.css'%}" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="{% static 'css/app.min.css'%}" id="app-style" rel="stylesheet" type="text/css" />
    <!-- Dark Mode Css-->
    <link href="{% static 'css/dark-layout.min.css'%}" id="app-style" rel="stylesheet" type="text/css" />

</head>
<body data-sidebar="dark" > 
{% comment %} <body data-topbar="dark" data-layout="horizontal"> {% endcomment %}

    {% block preloader %}
        {% comment %} {% include 'partials/preloader.html' %} {% endcomment %}
    {% endblock preloader %}


    <!-- Begin page -->
    <div id="layout-wrapper">
        {% block header %}
            {% include 'partials/header.html' %}
        {% endblock header %}
        {% block sidebar %}
            {% include 'partials/sidebar.html' %}
            {% comment %} {% include 'partials/horizontal-sidebar.html' %} {% endcomment %}

        {% endblock sidebar %}
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">
                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                {% if pagesubview == "" %}
                                <h4 class="mb-sm-0 font-size-18">{{heading}} > {{pageview}}</h4>
                                {% else %}
                                <h4 class="mb-sm-0 font-size-18">{{heading}} > {{pageview}} > {{pagesubview}}</h4>
                                {% endif %}
                                {% comment %} <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">{{pageview}}</a></li>
                                        <li class="breadcrumb-item active">{{heading}}</li>
                                    </ol>
                                </div> {% endcomment %}
                            </div>
                        </div>
                    </div>
                    <!-- end page title -->
                    {% block content %}
                    {% endblock content %}
                    {% block subscriber %}
                    {% endblock subscriber %}
                </div>
                <!-- container-fluid -->
            </div>
            <!-- End Page-content -->
            {% block footer %}
                {% include 'partials/footer.html' %}
            {% endblock footer %}
        </div>
        <!-- end main content-->
    </div>
    <!-- END layout-wrapper -->    
    {% block right_sidebar %}
        {% include 'partials/right_sidebar.html' %}
    {% endblock right_sidebar %}
    {% block javascript %}
    {% endblock javascript %}
</body>
</html>