{% load static %}
{% block sidebar %}
<div class="topnav">
                <div class="container-fluid">
                    <nav class="navbar navbar-light navbar-expand-lg topnav-menu">

                        <div class="collapse navbar-collapse" id="topnav-menu-content">
                            <ul class="navbar-nav">

                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'dashboard' %}">
                                        <i class="bx bxs-dashboard me-2"></i><span key="t-dashboards">Dashboard</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'ui-elements'%}">
                                        <i class="bx bx-briefcase me-2"></i><span key="t-ui-elements">UI Elements</span>
                                    </a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-advancedkit" role="button">
                                        <i class="bx bxs-grid me-2"></i><span key="t-advancedkit">Advanced Kit</span> <div class="arrow-down"></div>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="topnav-advancedkit">
                                        <a href="{% url 'advanced-kit-sweetalert' %}" class="dropdown-item" key="t-sweet-alert">Sweet-Alert</a>
                                        <a href="{% url 'advanced-kit-rangeslidebar' %}" class="dropdown-item" key="t-range-slider">Range Slider</a>
                                        <a href="{% url 'advanced-kit-notifications' %}" class="dropdown-item" key="t-notifications">Notifications</a>
                                        <a href="{% url 'advanced-kit-carousel' %}" class="dropdown-item" key="t-carousel">Carousel</a>
                                    </div>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-apps" role="button">
                                        <i class="bx bxs-cube-alt me-2"></i><span key="t-apps">Apps</span> <div class="arrow-down"></div>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="topnav-apps">

                                        <a href="{% url 'apps-calender' %}" class="dropdown-item" key="t-calendar">Calendar</a>
                                        <a href="{% url 'apps-chat' %}" class="dropdown-item" key="t-chat">Chat</a>
                                        <div class="dropdown">
                                            <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-email"
                                                role="button">
                                                <span key="t-email">Email</span> <div class="arrow-down"></div>
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="topnav-email">
                                                <a href="{% url 'apps-email-inbox' %}" class="dropdown-item" key="t-inbox">Inbox</a>
                                                <a href="{% url 'apps-email-read-mail' %}" class="dropdown-item" key="t-read-email">Read Email</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-adminkit" role="button"
                                    >
                                        <i class="bx bx-layer me-2"></i><span key="t-adminkit">Admin Kit</span> <div class="arrow-down"></div>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="topnav-adminkit">
                                        <a href="{% url 'typography' %}" class="dropdown-item" key="t-typography">Typography</a>
                                        <div class="dropdown">
                                            <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-form"
                                                role="button">
                                                <span key="t-forms">Forms</span> <div class="arrow-down"></div>
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="topnav-form">
                                                <a href="{% url 'forms-form-elements' %}" class="dropdown-item" key="t-form-elements">Form Elements</a>
                                                <a href="{% url 'forms-form-advanced' %}" class="dropdown-item" key="t-form-advanced">Form Advanced</a>
                                            </div>
                                        </div>
                                        <div class="dropdown">
                                            <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-table"
                                                role="button">
                                                <span key="t-tables">Tables</span> <div class="arrow-down"></div>
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="topnav-table">
                                                <a href="{% url 'tables-bootstrap' %}" class="dropdown-item" key="t-bootstrap-tables">Bootstrap Tables</a>
                                                <a href="{% url 'tables-datatables' %}" class="dropdown-item" key="t-data-tables">Data Tables</a>
                                            </div>
                                        </div>
                                        <a href="{% url 'charts' %}" class="dropdown-item" key="t-charts">Charts</a>
                                        <div class="dropdown">
                                            <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-icons"
                                                role="button">
                                                <span key="t-icons">Icons</span> <div class="arrow-down"></div>
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="topnav-icons">
                                                <a href="{% url 'icons-boxicons' %}" class="dropdown-item" key="t-boxicons">Boxicons</a>
                                                <a href="{% url 'icons-materialdesign' %}" class="dropdown-item" key="t-material-design">Material Design</a>
                                                <a href="{% url 'icons-dripicons' %}" class="dropdown-item" key="t-dripicons">Dripicons</a>
                                                <a href="{% url 'icons-fontawesome' %}" class="dropdown-item" key="t-font-awesome">Font Awesome 5</a>
                                            </div>
                                        </div>
                                        <a href="{% url 'maps' %}" class="dropdown-item" key="t-maps">Maps</a>
                                    </div>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-more" role="button"
                                    >
                                        <i class="bx bx-file me-2"></i><span key="t-extra-pages">Extra pages</span> <div class="arrow-down"></div>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="topnav-more">
                            
                                        <div class="dropdown">
                                            <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-auth"
                                                role="button">
                                                <span key="t-authentication">Authentication</span> <div class="arrow-down"></div>
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="topnav-auth">
                                                <a href="{%  url 'auth-login' %}" class="dropdown-item" key="t-login">Login</a>
                                                <a href="{%  url 'auth-register' %}" class="dropdown-item" key="t-register">Register</a>
                                                <a href="{%  url 'auth-recoverpw' %}" class="dropdown-item" key="t-recover-password">Recover Password</a>
                                                <a href="{%  url 'auth-lock-screen' %}" class="dropdown-item" key="t-lock-screen">Lock Screen</a>
                                                <a href="{%  url 'auth-confirm-mail' %}" class="dropdown-item" key="t-confirm-mail">Confirm Mail</a>
                                                <a href="{%  url 'auth-email-verification' %}" class="dropdown-item" key="t-email-verification">Email Verification</a>
                                                <a href="{%  url 'auth-two-step-verification' %}" class="dropdown-item" key="t-two-step-verification">Two Step Verification</a>
                                            </div>
                                        </div>
                                        <div class="dropdown">
                                            <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-utility"
                                                role="button">
                                                <span key="t-utility">Utility</span> <div class="arrow-down"></div>
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="topnav-utility">
                                                <a href="{% url 'apps-pages-starter' %}" class="dropdown-item" key="t-starter-page">Starter Page</a>
                                                <a href="{% url 'apps-pages-preloader' %}" class="dropdown-item" key="t-preloader">Preloader</a>
                                                <a href="{% url 'apps-pages-profile' %}" class="dropdown-item" key="t-profile">Profile</a>
                                                <a href="{% url 'apps-pages-invoice' %}" class="dropdown-item" key="t-invoice">Invoice</a>
                                                <a href="{% url 'apps-pages-maintenance' %}" class="dropdown-item" key="t-maintenance">Maintenance</a>
                                                <a href="{% url 'apps-pages-coming-soon' %}" class="dropdown-item" key="t-coming-soon">Coming Soon</a>
                                                <a href="{% url 'apps-pages-timeline' %}" class="dropdown-item" key="t-timeline">Timeline</a>
                                                <a href="{% url 'apps-pages-pricing' %}" class="dropdown-item" key="t-pricing">Pricing</a>
                                                <a href="{% url 'apps-pages-404-error' %}" class="dropdown-item" key="t-error-404">Error 404</a>
                                                <a href="{% url 'apps-pages-500-error' %}" class="dropdown-item" key="t-error-500">Error 500</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
{% endblock sidebar %}