{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Recover Password | Samply - Admin & Dashboard Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      content="Premium Multipurpose Admin & Dashboard Template"
      name="description"
    />
    <meta content="Pichforest" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />

    <!-- Bootstrap Css -->
    <link
      href="{% static 'css/bootstrap.min.css' %}"
      id="bootstrap-style"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Icons Css -->
    <link
      href="{% static 'css/icons.min.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <!-- App Css-->
    <link
      href="{% static 'css/app.min.css' %}"
      id="app-style"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Dark Mode Css-->
    <link
      href="{% static 'css/dark-layout.min.css' %}"
      id="app-style"
      rel="stylesheet"
      type="text/css"
    />
  </head>

  <body data-sidebar="dark">
    <!-- <body data-layout="horizontal" data-topbar="dark"> -->
    <div class="account-pages my-5 pt-sm-5">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-10">
            <div class="text-center mb-5">
              <a href="{% url 'dashboard' %}" class="auth-logo">
                <img
                  src="{% static 'images/logo-dark.png' %}"
                  alt=""
                  height="28"
                  class="auth-logo-dark"
                />
                <img
                  src="{% static 'images/logo-light.png' %}"
                  alt=""
                  height="28"
                  class="auth-logo-light"
                />
              </a>
              <p class="font-size-15 text-muted mt-3">
                Responsive <b>Bootstrap 5</b> Admin Dashboard
              </p>
            </div>
            <div class="card overflow-hidden">
              <div class="row g-0">
                <div class="col-lg-6">
                  <div class="p-lg-5 p-4">
                    <div>
                      <h5>Change Password</h5>
                      <p class="text-muted">Re-Password with Samply.</p>
                    </div>

                    <div class="mt-4 pt-3">
                      <div class="alert alert-success mb-4" role="alert">
                        Enter your password and instructions  be follow you!
                      </div>

                      <form
                        action=""
                        method="POST"
                        enctype="multipart/form-data"
                      >
                        {% csrf_token %}
                        <div class="mb-3">
                          {{ form.old_password |as_crispy_field }}
                        </div>
                        <div class="mb-3">
                          {{ form.new_password1 |as_crispy_field }}
                        </div>
                        <div class="mb-3">
                          {{ form.new_password2 |as_crispy_field }}
                        </div>

                        <div class="mt-4 text-end">
                          <button
                            class="
                              btn btn-primary
                              w-md
                              waves-effect waves-light
                            "
                            type="submit"
                          >
                            Reset
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="p-lg-5 p-4 bg-auth h-100 d-none d-lg-block">
                    <div class="bg-overlay"></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end card -->
            <div class="mt-5 text-center">
              <p>
                Remember It ?
                <a
                  href="{% url 'auth-login' %}"
                  class="fw-semibold text-decoration-underline"
                >
                  Login
                </a>
              </p>
              <p>
                ©
                <script>
                  document.write(new Date().getFullYear());
                </script>
                <b>Samply</b>. Crafted with
                <i class="mdi mdi-heart text-danger"></i> by Pichforest
              </p>
            </div>
          </div>
          <!-- end col -->
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
    </div>
    <!-- end account page -->

    {% include 'partials/javascript.html' %}
  </body>
</html>
