{% load static %}
<!doctype html>
<html lang="en">

    <head>
        
        <meta charset="utf-8" />
        <title>Lock Screen | Samply - Admin & Dashboard Template</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
        <meta content="Pichforest" name="author" />
       <!-- App favicon -->
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">

        <!-- Bootstrap Css -->
        <link href="{% static 'css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="{% static 'css/icons.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="{% static 'css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />
        <!-- Dark Mode Css-->
        <link href="{% static 'css/dark-layout.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />


    </head>

    <body data-sidebar="dark">

    <!-- <body data-layout="horizontal" data-topbar="dark"> -->
        <div class="account-pages my-5 pt-sm-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <div class="text-center mb-5">
                            <a href="{% url 'dashboard' %}" class="auth-logo">
                                <img src="{% static 'images/logo-dark.png'%}" alt="" height="28" class="auth-logo-dark">
                                <img src="{% static 'images/logo-light.png'%}" alt="" height="28" class="auth-logo-light">
                            </a>
                            <p class="font-size-15 text-muted mt-3">Responsive <b>Bootstrap 5</b> Admin Dashboard</p>
                        </div>
                        <div class="card overflow-hidden">
                            <div class="row g-0">
                                <div class="col-lg-6">
                                    <div class="p-lg-5 p-4">

                                        <div>
                                            <h5>Lock screen</h5>
                                            <p class="text-muted">Enter your password to unlock the screen !</p>
                                        </div>
                                    
                                        <div class="mt-4 pt-3">
                                            <div class="user-thumb text-center mb-4">
                                                <img src="{% static 'images/users/avatar-1.jpg'%}" class="rounded-circle img-thumbnail avatar-md" alt="thumbnail">
                                                <h5 class="font-size-15 mt-3">{{heading}}</h5>
                                            </div>
                                            <form method="POST" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                {% for message in messages %}
                                                <div class="alert {{ message.tags }} mb-4" role="alert">
                                                    <strong>{{ message }}</strong>
                                                </div>
                                                {% endfor %}  
                                                <div class="mb-3" id='err-msg' hidden>
                                                    <strong id="msg_err"></strong>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="userpassword" class="fw-semibold">Password</label>
                                                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
                                                </div>
                        
                                                <div class="mt-4 text-end">
                                                    <button class="btn btn-primary w-md waves-effect waves-light" id="lock-screen-login" type="submit">Unlock</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="p-lg-5 p-4 bg-auth h-100 d-none d-lg-block">
                                        <div class="bg-overlay"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end card -->
                        <div class="mt-5 text-center">
                            <p>Not you ? return  <a href="{% url 'auth-login' %}" class="fw-semibold text-decoration-underline"> Login </a> </p>
                            <p>© <script>document.write(new Date().getFullYear())</script> <b>Samply</b>. Crafted with <i class="mdi mdi-heart text-danger"></i> by Pichforest</p>
                        </div>

                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end account page -->

    {% include 'partials/javascript.html' %}
    </body>
</html>
