{% load template_util %}
{% load static %}
<script src="{% static 'libs/sweetalert2/sweetalert2.min.js'%}"></script>
<script src="{% static 'js/pages/sweet-alerts.init.js'%}"></script>
<script type="text/javascript">
  // 목록
  $(document).on("click", '#list', function(e){
    location.href = "{% url list_url %}"
  });

  // checkbox 모두 선택
  $('input[name=checkbox_select_all]').on('change', function(){
    $('input[name=checkbox]').prop('checked', this.checked);
  });

  // 파일 첨부
  $("#attachment").on('change', function() {
    attachment_url = $("#attachment_url")
    console.log(attachment_url.attr('href'))
    console.log(attachment_url.html())

    attachment_file = $("#attachment").prop('files')[0]

    attachment_url.removeAttr('href')
    attachment_url.html(attachment_file.name)
  });

  // 생성
  $(document).on("click", '#create', function(e){
    var formData = new FormData();
    var $crf_token = $('[name="csrfmiddlewaretoken"]').attr('value');
    
    {% for field, property in create_fields.items %}
      {% if property.check %}
        formData.append("{{ field }}", $("#{{ field }}").is(":checked"))
      {% elif property.attachment %}
        formData.append("{{ field }}", $("#{{ field }}").prop('files')[0])
      {% else %}
        formData.append("{{ field }}", $("#{{ field }}").text())
      {% endif %}
    {% endfor %}

    alert()
    
    $.ajax({

      headers: {"X-CSRFToken": $crf_token},
      type: "POST", 
      url: "{% url create_url %}",
      data: formData,

      success: function (response) {
        location.href = "{% url list_url %}"
      },

      error: function (xhr, status, error) {
        response_text = JSON.parse(xhr.responseText);
        alert(response_text.error)
      },

      dataType: "json",
      async: true,
      cache: false,
      contentType: false,
      processData: false,
      timeout: 60000
    });
  })


  // 수정
  $(document).on("click", '#save', function(e){
    var formData = new FormData();
    var $crf_token = $('[name="csrfmiddlewaretoken"]').attr('value');

    {% for field, property in detail_fields.items %}
      {% if property.check %}
        formData.append("{{ field }}", $("#{{ field }}").is(":checked"))
      {% elif property.attachment %}
        formData.append("{{ field }}", $("#{{ field }}").prop('files')[0])
      {% elif property.ckeditor %}
        formData.append("{{ field }}", {{ field }}_ckedit.getData())
      {% else %}
        formData.append("{{ field }}", $("#{{ field }}").text())
      {% endif %}
    {% endfor %}

    $.ajax({
      headers: {"X-CSRFToken": $crf_token},
      type: "PUT",
      {% if pk %}
        url: "{% url detail_url pk %}",
      {% endif %}
      data: formData,

      success: function (response) {
        location.reload()
      },

      error: function (xhr, status, error) {
        response_text = JSON.parse(xhr.responseText);
        alert(response_text.error)
      },

      dataType: "json",
      async: true,
      cache: false,
      contentType: false,
      processData: false,
      timeout: 60000
    });
  })

  // 삭제 with 확인 버튼
  $(document).on("click", '#remove', function(e){
    var checkbox = $("input[name=checkbox]:checked");
    if(checkbox.length < 1){
      Swal.fire({
        text: "선택 된 게시글이 없습니다.",
        confirmButtonColor: "#0576b9",
        confirmButtonText: "확인",
        animation: !1
      })
      return
    }

    Swal.fire({
      title: "선택한 게시글을 삭제합니다.",
      text: "삭제 된 게시글은 되돌릴 수 없습니다.",
      icon: "warning",
      showCancelButton: !0,
      confirmButtonColor: "#34c3af",
      cancelButtonColor: "#f46a6a",
      confirmButtonText: "삭제",
      cancelButtonText: "취소",
    }).then(function(t) {
        if(!t.value) return;
        var formData = new FormData();
        var $crf_token = $('[name="csrfmiddlewaretoken"]').attr('value');
        
        // get checked elements
        var checked_list = new Array();

        checkbox.each(function(i) {
          var tr = checkbox.parent().parent().eq(i);
          var td = tr.children();
          
          var code = td.eq(-1).text();
          checked_list.push(code);
        });
        formData.append("checked_list", checked_list);

        $.ajax({
          headers: {"X-CSRFToken": $crf_token},
          type: "DELETE", 
          url: "{% url list_url %}",
          data: formData,

          success: function (response) {
            Swal.fire(
              "", "선택한 게시글이 삭제되었습니다.", "success"
              ).then(function(t){
                location.reload()
            })
          },

          error: function (xhr, status, error) {
            response_text = JSON.parse(xhr.responseText);
            alert(response_text.error)
          },

          dataType: "json",
          async: true,
          cache: false,
          contentType: false,
          processData: false,
          timeout: 60000
        });
    })
  })
  
</script>