{% extends 'partials/base.html' %}
{% load static %}
{% block extra_css %}
    <link href="{% static 'libs/sweetalert2/sweetalert2.min.css'%}" rel="stylesheet" type="text/css" />
{% endblock extra_css %}

{% block content %}
<div class="row">{% csrf_token %}
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div style="display: flex">
                    <div><h1 class="card-title" style="font-size: 24px">쿠폰 리스트</h4></div>
                    
                        <div style="margin: auto 0 0 auto;">
                            <button type="button" class="btn btn-primary w-md waves-effect waves-light" onclick="location.href='{% url 'coupon-create' %}'"> 생성</button>
                            <button type="submit" class="btn btn-danger w-md waves-effect waves-light" id="coupon-remove">삭제</button>
                        </div>
                    </div>
                <hr class="one">
                <form method="GET">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label for="example-text-input" class="form-label">쿠폰 이름</label>
                                <input class="form-control" type="text" value="{{ coupon_name }}" id="coupon_name" name="coupon_name">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label for="example-text-input" class="form-label">할인</label>
                                <input class="form-control" type="text" value="{{ discount_value }}" id="discount_value" name="discount_value">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label for="example-date-input" class="form-label">시작 날짜</label>
                                <input class="form-control" type="date" value="{{ start_date }}" id="start_date" name="start_date">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label for="example-text-input" class="form-label">코드</label>
                                <input class="form-control" type="text" value="{{ code }}" id="code" name="code">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="" id="expired" name="expired">
                                <label for="expired" class="form-label">상태</label>
                                <select class="form-control select2-search-disable" id="expired" name="expired">
                                    {% if expired != "활성" and expired != "비활성" %}
                                    <option selected disable hidden>모두</option>
                                    {% else %}
                                    <option value={{ expired }} selected hidden>{{ expired }}</option>
                                    {% endif %}
                                    <option value=모두>모두</option>
                                    <option value=활성>활성</option>
                                    <option value=비활성>비활성</option>
                                </select>
                            </div>
                        </div>
                        {% comment %} <input class="form-control" list="datalistOptions" id="expired" name="expired"
                                    placeholder="상태 선택">
                                <datalist id="datalistOptions">
                                    <option value="활성">
                                    <option value="비활성">
                                </datalist> {% endcomment %}
                        
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label for="example-date-input" class="form-label">종료 날짜</label>
                                <input class="form-control" type="date" value="{{ end_date }}" id="end_date" name="end_date">
                            </div>
                        </div>
                    </div>
                    
                    <div style="text-align: right">
                        <button class="btn btn-primary">🔍검색</button>
                    </div>
                </form>
            </div>
        </div> <!-- end col -->
        {% comment %} ########################## form 끝 ################################# {% endcomment %}

        <div class="card">
            <div class="card-body">
                {% comment %} <h4 class="card-title">Default Datatable</h4>
                <p class="card-title-desc">DataTables has most features enabled by
                    default, so all you need to do to use it with your own tables is to call
                    the construction function: <code>$().DataTable();</code>.
                </p> {% endcomment %}

                <table id="" class="table table-bordered dt-responsive nowrap w-100">
                    <thead>
                        <tr>
                            <th style="text-align: center" width="70">선택</th>
                            <th>쿠폰 이름</th>
                            <th>할인률</th>
                            <th>무료차감갯수</th>
                            <th style="text-align: center" width="140">시작 날짜</th>
                            <th style="text-align: center" width="140">종료 날짜</th>
                            <th style="text-align: center" width="80">상태</th>
                            <th style="text-align: center" width="70">관리</th>
                            <th style="display:none;">히든아이디</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        {% for coupon in coupon_list %}
                        <tr>
                            {% comment %} <td style="vertical-align: center">{{ d.username }}</td> {% endcomment %}
                            {% comment %} <th style="text-align: center"><input type="checkbox" id="checkall" /></th> {% endcomment %}
                            <td style="text-align: center"><input type="checkbox" name="object_CheckBox"></td>
                            
                            <td>{{ coupon.coupon_name }}</td>
                            {% comment %} <td>{{ coupon.coupon_info }}</td> {% endcomment %}
                            
                            <td>{{ coupon.get_discount_info_display }}%</td>
                            <td>{{ coupon.freecount_info }}</td>
                            <td style="text-align: center">{{ coupon.start_date | date:'Y-m-d' }}</td>
                            <td style="text-align: center">{{ coupon.valid_date | date:'Y-m-d' }}</td>
                            <td style="text-align: center">{{ coupon.expired | yesno:'비활성, 활성'}}</td>
                            {% comment %} <td>{{ d.username }}</td> {% endcomment %}
                            <td style="text-align: center">
                                {% comment %}
                            <td style="padding: 5px"> {% endcomment %}
                                {% comment %} <button type="button" onclick="location.href='{% url 'auth-logout' %}'">
                                    {% endcomment %}
                                    {% comment %} <i class="mdi mdi-logout-variant fa-xs"></i> {% endcomment %}
                                    {% comment %} <i
                                        class="mdi mdi-logout-variant t text-muted font-size-5 align-middle me-1"></i>
                                    {% endcomment %}
                                    {% comment %} </button> {% endcomment %}
                                <a class="" href="{% url 'coupon-update' coupon.id %}"><i
                                        class="mdi mdi-pencil-box fa-lg text-muted align-middle me-1"></i></a>
                            </td>
                            <td style="display:none;">{{ coupon.id }}</td>
                        </tr>
                        {% endfor %}


                    </tbody>
                </table>

            </div>
            <!-- end card-body -->
        </div>
        <!-- end card -->
    </div> <!-- end col -->
</div> <!-- end row -->

{% endblock content %}

{% block javascript %}
<!-- JAVASCRIPT -->
<script src="{% static 'libs/jquery/jquery.min.js' %}"></script>
<script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'libs/metismenu/metisMenu.min.js' %}"></script>
<script src="{% static 'libs/simplebar/simplebar.min.js' %}"></script>
<script src="{% static 'libs/node-waves/waves.min.js' %}"></script>

<!-- Required datatable js -->
<script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>

<!-- Buttons examples -->
<script src="{% static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'libs/jszip/jszip.min.js' %}"></script>
<script src="{% static 'libs/pdfmake/build/pdfmake.min.js' %}"></script>
<script src="{% static 'libs/pdfmake/build/vfs_fonts.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-keyTable/js/dataTables.keyTable.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-select/js/dataTables.select.min.js' %}"></script>

<!-- Responsive examples -->
<script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

<!-- Datatable init js -->
<script src="{% static 'js/pages/datatables.init.js' %}"></script>



<script src="{% static 'js/menus/ai-coupon_management.js'%}"></script>

<script src="{% static 'js/app.js' %}"></script>


{% endblock javascript %}