{% extends 'partials/base.html' %}
{% load static %}
{% block extra_css %}
  <link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">

  <link href="{% static 'libs/sweetalert2/sweetalert2.min.css'%}" rel="stylesheet" type="text/css"/>
  <link href="{% static 'page/main.css' %}" rel="stylesheet" type="text/css"/>
{% endblock extra_css %}

{% load template_util %}
{% block content %}
  <div class="row">{% csrf_token %}
    <div class="col-12">
      <div class="title-button">
        <div>
          <h1 class="page-title">{{ title }}</h1>
        </div>
        <div style="margin: auto 0 0 auto;">
          <button type="button" class="btn btn-danger w-md waves-effect waves-light" id="save">저장</button>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h4>약관 동의</h4>
      {% for row in rows %}
        <div class="info-text-box">
          <div class="info-text-title">
            <div class="info-text-title-value">제목</div>
          </div>
          <div class="info-text-content">
            <div class="write-box" id="{{ row.pk }}-title">{{ row.title.value }}</div>
          </div>
        </div>
        <div class="info-text-box">
          <div class="info-text-title">
            <div class="info-text-title-value">내용</div>
          </div>
          <div class="info-text-content">
            <div class="write-box" id="{{ row.pk }}-content">{{ row.content.value|linebreaksbr }}</div>
          </div>
        </div><br><br>
      {% endfor %}

      <!-- <div class="info-content" contenteditable="true">zzzzzzzzzzzz -->
      <!-- body end -->
    </div>
  </div>
  <!-- end col -->
</div>
<!-- end row -->

{% endblock content %}

{% block javascript %}

{% include js %}
{% include "page/dropzone.init.js.html" %}

{% endblock javascript %}
