{% extends 'partials/base.html' %}
{% load static %}
{% block extra_css %}
  <link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">

  <link href="{% static 'libs/sweetalert2/sweetalert2.min.css'%}" rel="stylesheet" type="text/css"/>
  <link href="{% static 'page/main.css' %}" rel="stylesheet" type="text/css"/>
{% endblock extra_css %}

{% load template_util %}
{% block content %}
  <div class="row">{% csrf_token %}
    <div class="col-12">
      <div class="title-button">
        <div>
          <h1 class="page-title">{{ title }}</h1>
        </div>
        <div style="margin: auto 0 0 auto;">
          <button type="button" class="btn btn-primary w-md waves-effect waves-light" id="list">목록</button>
          <button type="button" class="btn btn-danger w-md waves-effect waves-light" id="save">저장</button>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h4>작성자 정보</h4>
      <div class="info-box">
        <div class="info-half-title">{{ detail_fields.author.verbose }}</div>
        <div class="info-half-content">{{ detail_fields.author.value }}</div>
        <div class="info-half-title">{{ detail_fields.created.verbose }}</div>
        <div class="info-half-content">{{ detail_fields.created.value }}</div>
      </div><br><br>

      <h4>문의 내용</h4>
      <div class="info-text-box">
        <div class="info-text-title">
          <div class="info-text-title-value">{{ detail_fields.title.verbose }}</div>
        </div>
        <div class="info-text-content">
          <div>{{ detail_fields.title.value }}</div>
        </div>
      </div>


      <div class="info-text-box">
        <div class="info-text-title">
          <div class="info-text-title-value">{{ detail_fields.content.verbose }}</div>
        </div>
        <div class="info-text-content">
          <div>{{ detail_fields.content.value }}</div>
        </div>
      </div>

      <div class="info-text-box">
        <div class="info-text-title">
          <div class="info-text-title-value">{{ detail_fields.attachments.verbose }}</div>
        </div>
        <div class="info-text-content">
          {% for filename, url in detail_fields.attachments.value %}
            <a class="list-content" href="{{ url }}" download="{{ filename }}">{{ filename }}</a><br>
          {% endfor %}
        </div>
      </div><br><br>

      <h4>답변</h4>
      <div class="info-text-box">
        <div class="info-text-title">
          <div class="info-text-title-value">답변 작성하기</div>
        </div>
        <div class="info-text-content">
          <div class="write-box" id="inquiry-answer">{{ detail_fields.answer.value|linebreaksbr }}</div>
        </div>
      </div>

      <!-- <div class="info-content" contenteditable="true">zzzzzzzzzzzz -->
      <!-- body end -->
    </div>
  </div>
  <!-- end col -->
</div>
<!-- end row -->

{% endblock content %}

{% block javascript %}

{% include js %}
{% include "page/dropzone.init.js.html" %}

{% endblock javascript %}
